/*remove rounded corners*/
.navbar {
    border-radius: 0;
}
/*changing heading font*/
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 48px;
}
h5 {
  font-weight: 400;
  font-size: 14px;
}
/*changing body font*/
h6, p, div {
  font-family: 'Merriweather', serif;
}
h6 {
  font-weight: 400;
  font-size: 16px;
}
p, a, li {
  font-weight: 300;
  font-size: 16px;
}
a {
  color: #1a1a1a;
}
div {
  font-weight: 300;
}

/*Fiddling with the jumbotron.*/
.jumbotron h6 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 200;
}

/*Custom div*/
div.folio {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}
dd {
  margin-bottom: 3%;
  color: #1a1a1a;
}
dt {
  color: #5E5E5E;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}
